.themeInput + label span{
    transition: transform .2s;
}
    
.themeInput + label span:hover,
.themeInput + label:hover span,
.themeInput:checked + label span{
    transform: scale(1.2);
}
    
.themeInput:checked + label span {
    box-shadow: 0px 0px 0px 3px #F0F8EA inset;
}