@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

html{
  overflow: auto;
  --bg-color-switch-duration: .7s;  
}

body {
  font-family: "Titillium Web", sans-serif;

  margin: 0;
  height: 100vh;

  min-width: 640px;
  min-height: 45vw;

  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-color: #afbfc0;
  transition: background-color var(--bg-color-switch-duration);
}

.container {
  position: relative;
  background-color: #ab87bb;

  flex: 0 0 auto;
  width: 80vw;
  aspect-ratio: 16 / 9;

  border-radius: 25px;
  overflow: hidden;
}

.input_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.input_video.selfie {
  transform: scale(-1, 1);
}

.output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-panel {
  position: absolute;
  left: 10px;
  top: 10px;
}

.loading {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.loading .message {
  font-size: x-large;
}
.loading .spinner {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  border: 32px solid #bebebe;
  border-top: 32px solid #3498db;
  border-radius: 50%;
}